# Zip() Function in Python

The zip() is used to join the elements of two or more iterables together.

It takes the elements from each iterable, join them index wise and returns a final sequence of tuples

Syntax : zip(iterable_1, iterable_2, iterable_3.....)

where, 
iterable - list,tuple,set,dictionary

-----

In [1]:
A = [1,2,3,4]
B = ['Apple', 'Mango', 'Orange', 'Banana']

In [2]:
zip(A, B)

In [3]:
list(zip(A,B))                               # To get zipped result in the form of a list

[(1, 'Apple'), (2, 'Mango'), (3, 'Orange'), (4, 'Banana')]

In [4]:
x = list(zip(A,B))

In [5]:
print(x)

[(1, 'Apple'), (2, 'Mango'), (3, 'Orange'), (4, 'Banana')]

In [6]:
type(x)

list

In [7]:
y = tuple(zip(A, B))                              # To get the zipped result in the form of a tuple 
print(y)

((1, 'Apple'), (2, 'Mango'), (3, 'Orange'), (4, 'Banana'))

In [8]:
type(y)

tuple

In [9]:
z = set(zip(A,B))                              # To get the zipped result in the form of a set
print(z)

{(2, 'Mango'), (4, 'Banana'), (1, 'Apple'), (3, 'Orange')}

In [10]:
type(z)

set

----

In [12]:
Temple = ['Ram Temple', 'Akshardham Temple', 'Badrinath Temple', 'Konark Sun Temple', 'Rameshwaram Temple']
City   = ('UP', 'Delhi', 'Uttrakhand', 'Odisha', 'Tamil Nadu')
Code   = [ 101, 102, 103, 104, 105, 106, 107, 108 ]

In [15]:
list(zip(Temple, City, Code))                # Zipping the 3 iterables

[('Ram Temple', 'UP', 101),
 ('Akshardham Temple', 'Delhi', 102),
 ('Badrinath Temple', 'Uttrakhand', 103),
 ('Konark Sun Temple', 'Odisha', 104),
 ('Rameshwaram Temple', 'Tamil Nadu', 105)]

In this example : 
- City is a Tuple not a list
- The number of elements in 'Code' is 8, while in 'Temple' and 'City' the number of elements is 5
- We can also change the sequence to Code, Temple, City

In [18]:
s = list(zip(Code, Temple, City))

In [19]:
print(s)

[(101, 'Ram Temple', 'UP'), (102, 'Akshardham Temple', 'Delhi'), (103, 'Badrinath Temple', 'Uttrakhand'), (104, 'Konark Sun Temple', 'Odisha'), (105, 'Rameshwaram Temple', 'Tamil Nadu')]

----

----

# UnZip() Function in Python

It is just opposite of Zip()

It takes the elements from the tuples of a zipped iterable and separate them to form new tuples

Syntax : zip(*zipped iterable)

In [22]:
x

[(1, 'Apple'), (2, 'Mango'), (3, 'Orange'), (4, 'Banana')]

In [24]:
Quantity, Fruit = zip(*x)                              # Unzipping the zipped iterable x into Quantity and Fruits

In [25]:
print(Quantity, Fruit)

(1, 2, 3, 4) ('Apple', 'Mango', 'Orange', 'Banana')

----

In [26]:
s

[(101, 'Ram Temple', 'UP'),
 (102, 'Akshardham Temple', 'Delhi'),
 (103, 'Badrinath Temple', 'Uttrakhand'),
 (104, 'Konark Sun Temple', 'Odisha'),
 (105, 'Rameshwaram Temple', 'Tamil Nadu')]

In [28]:
Code, Temple, State = zip(*s)                            # Unzipping the zipped iterable s into Code, Temple, State

In [29]:
print(Code)

(101, 102, 103, 104, 105)

In [30]:
print(Temple)

('Ram Temple', 'Akshardham Temple', 'Badrinath Temple', 'Konark Sun Temple', 'Rameshwaram Temple')

In [31]:
print(City)

('UP', 'Delhi', 'Uttrakhand', 'Odisha', 'Tamil Nadu')

In [32]:
print(Code, Temple, City)

(101, 102, 103, 104, 105) ('Ram Temple', 'Akshardham Temple', 'Badrinath Temple', 'Konark Sun Temple', 'Rameshwaram Temple') ('UP', 'Delhi', 'Uttrakhand', 'Odisha', 'Tamil Nadu')

----

----

----

----

By - Md Anas Ali