## DataTypes  in Python

The concept of DataTypes is important to understand.

A variable can store different types of data in it.

A datatype represents what type of data it is and what operations can be performed on this type of data.

----

DataTypes in Python :
1. Integer
2. Float
3. String
4. List
5. Tuple
6. Set
7. Dictionary

In [1]:
x = 10

In [2]:
type(x)

int

In [3]:
x = 9999

In [4]:
y = 10.0

In [5]:
y = 99.99

In [6]:
z = 'my name'

In [7]:
z = 'is Anas'

----

List - It is a collection of different datatypes. It is created within [ ]

In [8]:
A = [1,2,3,4,5,5]

In [9]:
type(A)

list

In [10]:
B = [11,12,13]

In [11]:
A = [1,2,3,4.5,6.7]

In [12]:
A = [1,2,3,4.5,6.7,'my name', 'is Anas']

In [13]:
A

[1, 2, 3, 4.5, 6.7, 'my name', 'is Anas']

Properties of a List :
1. A list is Mutable (Can be altered/changed)
2. A list is Ordered
3. A list allows duplicate values

----

Tuple - It is also a collection of different datatypes. It is created within ( )

In [14]:
A = (1,2,3,4,5,5,4)

In [15]:
type(A)

tuple

In [16]:
A = (1,2,3,4.5,12.45)

In [17]:
A = (1,2,3,4.5,34.44,'Bangladesh', 'US')

In [18]:
A = (12.23, 23.3334, 42.242)

In [19]:
A = ('Bangladesh', 'US', 'Nepal')

In [20]:
A

('Bangladesh', 'US', 'Nepal')

Properties of a Tuple :
1. A tuple is Immutable (Can't be altered/changed)
2. A tuple is Ordered
3. A tuple allows duplicate values

----

Set - A set is a collection of datatypes which is unordered. It is created within { }

In [21]:
A = {1,2,3,4,5,7,8,9}

In [22]:
A.pop()

1

In [23]:
A = {1,2,3,4.5,5.6,'Bangladesh','US'}

In [24]:
A

{1, 2, 3, 4.5, 5.6, 'Bangladesh', 'US'}

In [25]:
type(A)

set

In [26]:
A = {2,1,4,3,'hi','python','my',4,3}

In [27]:
type(A)

set

In [28]:
A

{1, 2, 3, 4, 'hi', 'my', 'python'}

In [29]:
print(A)

{1, 2, 3, 4, 'hi', 'python', 'my'}

Properties of a Set :
1. It arranges the items in ascending order.
2. A Set doesn't allows duplicate values.

----

Dictionary - A Dictionary is a collection of datatypes which is unordered, in a Key:Value pair form. It is also created within { }.

In [30]:
A = {'a':1 , 'e':2 ,'c':3, 'd':4, 'b':5}

In [31]:
A

{'a': 1, 'e': 2, 'c': 3, 'd': 4, 'b': 5}

In [32]:
A = { 1:'Asia' , 2:'Europe' , 3:'Africa'}

In [33]:
A = { 'a':'python' , 'b':'is' , 'c':'fun'}

In [34]:
B = {1.2 : 'Anas', 3.4:'Ali'}

In [35]:
type(B)

dict

Properties of a Dictionary :
1. A Dictionary doesn't allows duplicate keys.
2. A Dictionary is Unordered.
3. A Dictionary is Mutable.

----

----

-----

----

By - MD ANAS ALI