## ' List ' in Python

List is a collection of different data-types like Integers, Floats, Strings, as well as Objects.

Each element or value of the list is called an 'Item'. We can also say that a List is a sequence of items.

A List is created within [ ]

----

List_Name = [ integer , float , string ]

In [1]:
A = [1,23,3.4,5.6,'hi','python']

In [2]:
print(A)

[1, 23, 3.4, 5.6, 'hi', 'python']

In [3]:
A = [1,2,3,4]

In [4]:
A1 = [1.2,3.4,5.87]

In [3]:
A2 = ['hi','python','bye']

-----

----

### 'Index' in a list

In [4]:
A = [1,2,3,4,5]

In [2]:
A.index(4)

3

In [6]:
A.index(1)

0

### Properties of a List

1. A list allows duplicate items(values) in it.

In [3]:
A = [1,2,2,3,4,5,5]

In [4]:
A

[1, 2, 2, 3, 4, 5, 5]

In [5]:
A = ['hi', 'pyhton' , 'hi']

In [6]:
A

['hi', 'pyhton', 'hi']

2. A list is mutable. It means a list items can be changed after creating the list.

In [ ]:
# Append() - To enter a new value at the end of the list.

In [7]:
A = [1,2,3,4,5]

In [8]:
A.append(77)

In [9]:
A

[1, 2, 3, 4, 5, 77]

In [10]:
A.append(6)

In [68]:
A

[1, 2, 3, 4, 5]

In [ ]:
A[]

In [ ]:
# Insert() - To insert a new value at a given index in the list.

In [12]:
A = [1,2,3,4,5]

In [13]:
A

[1, 2, 3, 4, 5]

In [14]:
# A.insert(index, value)

A.insert(2,100)

In [15]:
A

[1, 2, 100, 3, 4, 5]

In [15]:
A.insert(2,2.5)

In [16]:
A

[1, 2, 2.5, 3, 4, 5]

In [ ]:
# Index() - To show the index of a value.

In [16]:
A

[1, 2, 100, 3, 4, 5]

In [22]:
# List_name.index(value/element)

A.index(1)

0

In [21]:
A.index(2.5)

2

In [ ]:
# Remove() - To delete a value from the list.

In [23]:
A

[1, 2, 100, 3, 4, 5]

In [24]:
# A.remove(value)

A.remove(100)

In [25]:
A

[1, 2, 3, 4, 5]

In [69]:
y = [11,12,13,11,14,12,15,11]

In [71]:
y[2] = 130

In [72]:
y

[11, 12, 130, 11, 14, 12, 15, 11]

In [41]:
y.remove(12)

In [42]:
y

[13, 11, 14, 12, 15, 11]

In [ ]:
# Pop() - To delete a value from a particular index.

In [27]:
x = [23,3243,2535,442323,24,1313]

In [28]:
x

[23, 3243, 2535, 442323, 24, 1313]

In [29]:
# x.pop(index)

x.pop(2)

2535

In [30]:
x

[23, 3243, 442323, 24, 1313]

----

## Indexing in a List

In [61]:
X = [11,12,13,14,15,16,17,18,19,20]

In [67]:
X[5:15]

[16, 17, 18, 19, 20]

In [48]:
X

[11, 12, 13, 14, 15]

In [49]:
X.index(13)

2

In [51]:
X[4]  # To see what value is present at a particular index

15

In [32]:
X[3]

14

In [56]:
# x[start_index : stop_index]
X[2:4]

[13, 14]

In [54]:
X[1:3]    # 1 value less than the end index

[12, 13]

In [62]:
X[2:6]  # 2,3,4,5

[13, 14, 15, 16]

----

----

-----

----

By - Md Anas Ali