## ' Sets ' in Python

Set is a collection of different data-types like Integers, Floats, Strings.

Each element or value of the set is called an 'Item'. We can also say that a Set is a sequence of items.

A Set is created within { }

List vs Tuple vs Set 
* List is created within [ ] ,     Tuple is created within ( )  ,   Set is created within { }
* List items can be changed  ,     Tuple items can't be changed ,   In sets we can add or remove any element

----

Set = { integer , float , string }

In [19]:
A = {1,23,56,70,2,5, 'b','c','a'}

In [20]:
# X = set()  # to create an empty set
# type(X)
# X1 = set([1,2,3,4])     # to create a set with a list
# X2 = set((1,2,5,4,6,3,4,5))    # to createa set with a tuple

In [21]:
A

{1, 2, 23, 5, 56, 70, 'a', 'b', 'c'}

In [22]:
A.remove('c')

In [23]:
A

{1, 2, 23, 5, 56, 70, 'a', 'b'}

In [24]:
A.pop() # delete any element randomly

1

In [25]:
A.pop()

2

In [26]:
A

{23, 5, 56, 70, 'a', 'b'}

-----

----

'Index' in a Set.

In [27]:
A.add(34444)

In [28]:
A

{23, 34444, 5, 56, 70, 'a', 'b'}

In [29]:
A.add(999)

In [30]:
A

{23, 34444, 5, 56, 70, 999, 'a', 'b'}

In [31]:
print(A)

{'b', 5, 70, 999, 34444, 'a', 23, 56}

In [32]:
B = {12,32,1,0.5}

In [33]:
B

{0.5, 1, 12, 32}

----

----

----

### Properties of a Sets

1. Arrange the items in Ascending order

In [1]:
A = {2,1,3,6,5}

In [2]:
A

{1, 2, 3, 5, 6}

In [5]:
B = {2,3,1,5,9,6,4.55,8, "z","g","c"}

In [6]:
B

{1, 2, 3, 4.55, 5, 6, 8, 9, 'c', 'g', 'z'}

2. A set doesn't allows duplicate items(values) in it.

In [7]:
A = {1,2,3,3,5,6,7,7}

In [8]:
A

{1, 2, 3, 5, 6, 7}

In [9]:
B = {"Hi","Hi"}

In [10]:
B

{'Hi'}

3. We can add or delete the elements in a set

In [34]:
A

{23, 34444, 5, 56, 70, 999, 'a', 'b'}

In [35]:
A.clear()

In [36]:
A.remove

In [37]:
A

set()

----

----

-----

----

By - Md Anas Ali